@font-face {
    font-family: 'Raleway Variable';
    src: url('Raleway-VariableFont_wght.woff2') format('woff2');
    src: url('Raleway-VariableFont_wght.ttf') format('truetype');
}
  
body {
    font-family: 'Raleway Variable', sans-serif;
}


.parent {
    height: 300px;
    width: 600px;
    padding: 0 1em;
    margin: 1em;
    border: 1px solid red;
}

.child {
    font-size: 1.2rem;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
  }


html {
    font-size: 16px;
}

.box {
    width: 10rem;
    background-color: #e0e0e0;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    position: relative;
}

.box::before {
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: #e0e0e0;
    overflow: hidden;
    position: absolute;
    right: -0.5rem;
    top: 50%;
    transform: rotate(45deg);
    margin-top: -0.5rem;
  }


.loader {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom, #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
    /* background: linear-gradient(red 0%, orange 10%, orange 30%, yellow 50%, yellow 70%, green 90%, green 100%); */
    margin-top: 50px;

    animation: jump 1.5s ease-out infinite alternate;
}

@keyframes jump {
    from {
        transform: translateY(0px) rotate(0deg) scale(1,1);
        opacity: 1;
      }
      to {
        transform: translateY(-50px) rotate(360deg) scale(0.8,0.8);
        opacity: 0.8;
      }
}



.spinner {
    margin: 10px;
    width: 180px;
    height: 180px;
    animation: rotate 2s linear infinite;
}

.spinner-dot {
    stroke: #000;
    stroke-width: 1;
    fill: #000;
    animation: skew 2s linear infinite alternate;
}

@keyframes skew {
    from {
      transform: skewX(10deg)
    }
    to {
      transform: skewX(40deg)
    }
}
  
.spinner-border {
    fill: transparent;
    stroke-width: 2;
    width: 100%;
    height: 100%;
}
  
.path {
    stroke-dasharray: 170;
    stroke-dashoffset: 20;
}

@keyframes rotate {
    to {
      transform: rotate(360deg);
    }
}



.container {
    margin: 10px auto;
}

.photo {
    width: 24vw;
    height: 22vw;
    min-width: 130px;
    min-height: 100px;
    float: left;
    margin: 0 20px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}

.photo img {
    object-fit: cover;
}

.side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    text-align: center;
    background-color: #e0e0e0;
}

.photo:hover {
    transform: rotateY(180deg);
}

.break-float {
    clear: both;
}



h1 {
    font-family: 'Raleway Variable';
    font-weight: 430;
}



.low-lev-font {
    font-variation-settings: 'wght' 630, 'wdth' 88;
  }



* {
    box-sizing: border-box;
}
 
html, body {
     padding: 0; 
     margin: 0;
 }
 
.slideshow {
   scroll-snap-type: x mandatory; /* Indicates scroll axis and behavior */
   overflow-x: auto;              /* Should be either `scroll` or `auto` */
   display: flex;
   height: 100vh;
}
 
.slideshow img {
   width: 100vw;
   height: 100vh;
   scroll-snap-align: center;
}



/* CSS background */
.myelement {
    background-image: url('myimage.svg');
}



.mysvgbackground {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 600"><circle cx="400" cy="300" r="50" stroke-width="5" stroke="#f00"  fill="#ff0" /></svg>') center center no-repeat;
}



#invader {
    display: block;
    width: 200px;
}
  
#invader path {
    stroke-width: 0;
    fill: #080;
    stroke: #f00;
}

#invader path:hover {
    fill: blue;
}

/* CSS styling for all SVG circles */
circle {
    stroke-width: 20;
    stroke: #f00;
    fill: #ff0;
}


svg.folder { fill: #f7d674; }